html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

body, ul, li, h1, h2, h3, h4, p, i, input, button {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

body {
    /* font-family: 'Iceberg', cursive; */
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    color: #FFF; 
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

/*********************/
/* header styles */
/*********************/

header {
    background-image: url(./assets/image-1.png);
    height: 75vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}


h1 {
    font-family: 'Iceberg', cursive;
    font-size: 8rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    line-height: 1;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 10px;
}

.headerText {
    text-align: center;
}


h2 {
    color: #FFF;
    font-weight: normal;
    margin: 0 auto; 
    padding: 10px;
}

span {
    background-color: #9200FF;
    padding: 10px 20px;
}


/*********************/
/* navigation styles */
/*********************/

.menuBar i {
    display: none;
}

.menuBar {
    text-align: center;
    padding-top: 30px;
}

.menuBar li {
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    padding-left: 25px;
}

.menuBar li:first-child {
    padding-left: 0;
}

.social {
    position: absolute;
    right: 35px;
    top: 240px;
}

.social li {
    padding-bottom: 10px;
    font-size: 2.2rem;
}

a {
    text-decoration: none;
    color: #FFF;
}

a:hover,
a:focus {
    font-weight: bold;
}

/***********************************/
/* performing & experiences styles */
/***********************************/

.performing, 
.experiences {
    background-color: #0F0632;
}

h3, h4 {
    font-family: 'Iceberg', cursive;
    font-weight: normal;
    font-size: 4.8rem;
    text-transform: uppercase;
    line-height: 1;
    padding-bottom: 10px;
}

.read {
    cursor: pointer;
    border-style: none;
    background-color: #9200FF;
    color: #FFF;
    font-family: 'Iceberg', cursive;
    text-transform: uppercase;
    font-size: 2.5rem;
    padding: 10px 20px;
}

.performingInfo p,
.expInfo p {
    padding-bottom: 30px;
}

.performingInfo {
    width: 50%;
    height: 35vw;
    float: left;
    padding: 100px 70px;
}

.performingImg img {
    width: 50%;
    height: 35vw;
    float: right;
}

.expInfo {
    width: 50%;
    height: 35vw;
    float: left;
    padding: 100px 70px;
}

.expImg img {
    width: 50%;
    height: 35vw;
    float: left;
}

/*********************/
/* tickets styles */
/*********************/
.tickets {
    background-color: #08080B;
    height: 35vw;
}

.ticketsImg img {
    width: 25%;
    float: left;
    padding-top: 100px;
}

.ticketsInfo {
    width: 75%;
    float: left;
    padding-left: 35px;
}

.ticketsInfo h3 {
    padding-top: 65px;
}

.ticketsInfo p {
    padding-bottom: 30px;
}

/*********************/
/* more info styles */
/*********************/

.moreInfo {
    background-color: #3D0369;
    clear: both;
}

.floatWidth {
    width: 65%;
    margin: 0 auto;
    padding: 130px 0;
}

.location li,
.ticketsSale li,
.reach li {
    list-style: none;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
}

.location i,
.ticketsSale i,
.reach i {
    font-size: 5rem;
}

.location,
.ticketsSale,
.reach {
    float: left;
    width: 33%;
}
/*********************/
/* gram styles */
/*********************/

.gram {
    background-color: #0F0632;
    padding-bottom: 60px;
    clear: both;
}

.gram h3 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
}


.gram li {
    float: left;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
}

.gram li:nth-of-type(3n) {
    margin-right: 0;
}


/*********************/
/* contact styles */
/*********************/

h4 {
    font-size: 4rem;
}

.contact {
    background-color: #3D0369;
}

.contact .menuBar {
    padding-top: 50px;
    padding-bottom: 55px;
}

.contactInfo{
    width: 50%;
    float: left;
    padding-bottom: 60px;
    
}

.updates {
    width: 50%;
    float: left;
}

input {
	border-style: none;
	background-color: #FFF;
	width: 60%;
	font-size: 1.6rem;
	font-weight: 400;
	color: #000;
    padding: 15px 20px;
    margin-top: 10px;
}

button {
    cursor: pointer;
    border-style: none;
	background-color: #9200FF;
    color: #FFF;
    font-family: 'Iceberg', cursive;
    text-transform: uppercase;
	font-size: 2.5rem;
    padding: 6px 10px 15px 10px;
    margin-left: -5px;

}

button:hover,
button:focus {
	font-weight: bold;
}

/*********************/
/* footer styles */
/*********************/

footer {
    background-color: #0F0632;
    padding-top: 10px;
    padding-bottom: 10px;
    clear: both;
}

.footerText p {
    font-weight: normal;
    text-align: center;
    font-size: 1.6rem;
}

.footerText a:hover {
    font-weight: bold;
}

.footerText a:focus {
    font-weight: bold;
}


/*******************************************************************************************/
/* media query styles >> SMALL DESKTOP1 */
/*******************************************************************************************/
@media (max-width: 1180px) {
	.wrapper {
		width: 85%;
    }

/*********************/
/* header styles */
/*********************/

    header {
        height: 65vh;
    }

    h3 {
        font-size: 4.6rem;
    }

/***********************************/
/* performing & experiences styles */
/***********************************/
    .performingInfo,
    .expInfo {
        height: 45vw;
        padding: 80px 70px;
    }

    .performingImg img,
    .expImg img {
    height: 45vw;
    object-fit: cover;
}

/*********************/
/* tickets styles */
/*********************/
.tickets {
    height: 40vw;
}
/*******************************************************************************************/
/* media query styles >> SMALL DESKTOP 2 */
/*******************************************************************************************/
@media (max-width: 1024px) {
	.wrapper {
		width: 85%;
    }

/***********************************/
/* performing & experiences styles */
/***********************************/
    .performingInfo,
    .expInfo {
        height: 50vw;
    }

    .performingImg img,
    .expImg img {
    height: 50vw;
}

/*********************/
/* tickets styles */
/*********************/
.tickets {
    height: 45vw;
}
/*******************************************************************************************/
/* media query styles >> TABLET 1 */
/*******************************************************************************************/

@media (max-width: 940px) {
	.wrapper {
		width: 85%;
    }

/***********************************/
/* performing & experiences styles */
/***********************************/
    .performingInfo,
    .expInfo {
        height: auto;
        width: 100%
    }

    .performingImg img,
    .expImg img {
    width: 100%;
    height: 50vw;
}

/*********************/
/* tickets styles */
/*********************/
.tickets {
    height: auto;
    padding-bottom: 80px;
}


.ticketsInfo {
    width: 100%;
    height: auto;

}

.ticketsImg img {
    width: 100%;
    height: 35vh;
    object-fit: cover;
    object-position: center -336px;
    padding-top: 80px;
}

/*********************/
/* more info styles */
/*********************/
.location,
.ticketsSale,
.reach {
    width: 50%;
}

.moreInfo {
    height: auto;
}

.floatWidth {
    padding-top: 70px;
    padding-bottom: 80px;
}

.location,
.ticketsSale,
.reach {
    width: 100%;
}

.location,
.ticketsSale {
    padding-bottom: 50px;
}



/*********************/
/* gram styles */
/*********************/
.gram li {
    width: calc((100% - 30px) / 2);
}

.gram li:nth-of-type(2n) {
    margin-right: 0;
}

.hide {
    display: none;
}

/*********************/
/* contactInfo styles */
/*********************/

.contactInfo {
    width: 100%;
    float: none;
    text-align: center;
    line-height: 1.6;
}

.updates {
    width: 100%;
    float: none;
    text-align: center;
    padding-bottom: 60px;
}

h4 {
    padding-bottom: 10px;
}

/*******************************************************************************************/
/* media query styles >> TABLET 2 */
/*******************************************************************************************/

@media (max-width: 768px) {
	.wrapper {
		width: 85%;
    }

/*********************/
/* navigation styles */
/*********************/
    header .menuBar a {
        display: none;
    }

    .menuBar i {
        display: block;
        font-size: 3rem;
    }

.social {
    display: none;
}

/***********************************************************************************/

@media (max-width: 600px) {
	.wrapper {
		width: 90%;
    }

/***********************************/
/* performing & experiences styles */
/***********************************/
.performingInfo,
.expInfo,
.ticketsInfo {
    text-align: center;
}

.performingInfo,
.expInfo {
    padding: 50px 40px;
}

.ticketsInfo {
    padding-left: 10px;
}

h3, p {
    text-align: left;
}



/*********************/
/* ticket styles */
/*********************/

.ticketsImg img {
    float: none;
    height: 80vw;
    object-position: center;
}

.ticketsInfo {
    float: none;
}


.contactInfo p,
.updates p {
    text-align: center;
}

/*********************/
/* gram styles */
/*********************/

.gram h3 {
    padding-top: 50px;
    padding-bottom: 50px;
}

/*********************/
/* contact styles */
/*********************/

.contactInfo{
    width: 100%;
    float: none;
    
}

.updates {
    width: 100%;
    float: none;
}


input,
button {
    display: block;
    width: 100%;
}

input {
    text-align: center;
    margin-bottom: 8px;
    margin-left: -5px;
}

/******************************************************************************************/

@media (max-width: 420px) {
	.wrapper {
		width: 90%;
    }

/*********************/
/* heading styles */
/*********************/

header{
    height: 55vh;
    background-size: cover;
    background-position: 25%;

}

h1 {
    font-size: 6rem; 
}

h2 {
    font-size: 2.2rem;
}

h3, h4 {
    font-size: 3.5rem;
}


/*********************/
/* tickets styles */
/*********************/

.ticketsImg img {
    height: auto;
    padding-top: 40px;
}

.ticketsInfo h3 {
    padding-top: 40px;
}

.tickets {
    padding-bottom: 60px;
}

.gram {
    padding-bottom: 45px;
}

/*******************************************************************************************/
/* media query styles >> MOBILE */
/*******************************************************************************************/

@media (max-width: 360px) {
	.wrapper {
		width: 90%;
    }

    
    h1 {
    font-size: 4rem; 
}

h2 {
    font-size: 1.8rem;
}

span {
    padding-left: 12px;
    padding-right: 12px;
}

h3, h4 {
    font-size: 3rem;
}

p {
    font-size: 1.6rem;
    line-height: 1.6;
}

.tickets img {
    height: 80vw;
}

.menuBar a {
    font-size: 1.5rem;
}

.read {
    font-size: 2rem;
}

.location, 
.ticketsSale {
    padding-bottom: 20px;
}

.floatWidth {
    padding-top: 50px;
    padding-bottom: 60px;
}